@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #0a0a0a;
	--foreground: #ededed;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

.map {
	background-color: #0a0a0a;
}

#info {
	position: absolute;
	display: inline-block;
	height: auto;
	width: auto;
	z-index: 100;
	background-color: #333;
	color: #fff;
	text-align: left;
	border-radius: 4px;
	padding: 5px;
	left: 50%;
	transform: translateX(3%);
	visibility: hidden;
	pointer-events: none;
	border-width: 2px;
}

._10 {
	background-image: radial-gradient(transparent 0%, #ffffff99 80%);
	border-color: #ffffff;
}

._20 {
	background-image: radial-gradient(transparent 0%, #3ffe3f99 80%);
	border-color: #3ffe3f;
}

._30 {
	background-image: radial-gradient(transparent 0%, #3ffefe99 80%);
	border-color: #3ffefe;
}
